* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --main-color: white;
  --secundary-color: #c0bbbb;
  --tertiary-color: #6fa9e4;
}

html {
  background-color: white;
  scroll-behavior: smooth;
  height: auto;
  overflow-x: hidden;
}

body {
  height: 120vh;
  margin: 0;
  background: linear-gradient(to bottom, #00376e 0%, #72b8ff 50%, #ffffff 80%);
}

header {
  height: 6vh;
  left: 0;
  top: 0;
  z-index: 12;
}

.logo img {
  width: 7%;
  height: auto;
  position: absolute;
  left: 25%;
  top: -3%;
  z-index: 2;
}

.menu {
  position: relative;
  z-index: 1;
  display: flex;
}

.menu ul {
  position: absolute;
  display: flex;
  gap: 35px;
  left: 35%;
  top: 18px;
}

.menu li {
  color: rgb(255, 255, 255);
  font-size: 17px;
  cursor: pointer;
  z-index: 2;
}

.menu li:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  transition: 0.2s;
}

.menu-icones ul {
  position: absolute;
  left: 68%;
  top: 18px;
  display: flex;
  gap: 23px;
  z-index: 1;
  cursor: pointer;
}

.menu-icones ul {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.menu-icones li:hover {
  color: black;
  transform: scale(1.2);
  transition: 0.2s;
}

/* menu responsivo _____________________________________________________________ */
.menu-responsivo {
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

#iconeMenu {
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease, color 0.3s ease;
}

#iconeMenu.menu-aberto {
  color: black;
  position: fixed;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  transition: left 0.5s ease;
  box-shadow: -4px 0 8px;
  padding: 20px;
  overflow-y: auto;
}

.menu-lateral.active {
  left: 0;
}

.menu-lateral h2 {
  font-size: 27px;
  color: #000;
  margin-left: 270px;
  margin-top: -8px;
  margin-bottom: 50px;
}

.titulo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  color: #000000;
  margin-top: 13px;
}

.linha-cima,
.linha-baixo {
  width: 100%;
  border: none;
  border-top: 1px solid #2c2c2c;
  margin: 2px 0;
  transition: transform 0.5s ease;
}

.titulo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  padding: 0 10px;
}

.links-expandidos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  margin-top: 10px;
  padding: 0 10px;
}

.links-expandidos.ativo {
  max-height: 500px;
  opacity: 1;
}

.seta-toggle {
  font-size: 24px;
  color: #000000;
  transition: transform 0.3s ease;
}

.titulo-menu.ativo .seta-toggle {
  transform: rotate(90deg);
}

.links-expandidos a {
  color: #000000;
  font-size: 16px;
}

.icone-responsivo-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--tertiary-color);
  padding: 10px 0;
  box-shadow: 0 -2px 5px var(--tertiary-color);
  border-radius: 20px 20px 0px 0px;
}

.icone-responsivo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icone-responsivo li a {
  font-size: 24px;
  transition: color 0.3s ease;
}

.icone-responsivo li a:hover {
  color: var(--tertiary-color);
}

.icone-responsivo img {
  width: 28px;
  height: auto;
  object-fit: contain;
}

/* parte do hover do menu _____________________________________________________________________ */

.menu-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: none;
  padding: 20px;
}

header.overlay-ativo .menu li {
  color: #000000;
}

header.overlay-ativo .menu-icones li {
  color: #000000;
}

.menu-content {
  display: none;
  color: black;
  font-size: 18px;
  margin-top: 50px;
  width: 40%;
  padding-left: 50px;
  height: 80%;
  margin-left: 574px;
}

.menu-titulo {
  color: var(--tertiary-color);
  font-size: 20px;
}

.menu-content a {
  display: block;
  color: black;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.links-rapidos {
  position: absolute;
  left: 55%;
  top: 25%;
  display: block;
  margin-bottom: 50px;
}

.links-rapidos h2 {
  color: var(--tertiary-color);
  font-size: 20px;
}

.links-rapidos a {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

/* barra de pesquisa _______________________________________________________________________________ */
.barra-pesquisa {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 7%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 5;
}

.barra-pesquisa input {
  width: 50%;
  height: 70%;
  margin-left: 500px;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 12px;
  color: var(--tertiary-color);
  padding-left: 20px;
  font-size: 20px;
}

.barra-pesquisa input::placeholder {
  color: var(--tertiary-color);
  padding-left: 0px;
}

.barra-pesquisa button {
  background-color: transparent;
  margin-left: 8px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transform: translateY(20%);
}

.fechar-pesquisa {
  position: fixed;
  top: -3px;
  right: 8%;
}

.fechar-pesquisa i {
  color: var(--tertiary-color);
  font-size: 42px;
}

.fechar-pesquisa i:hover {
  color: black;
}

#fundoEscuro {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

/* produtos pesquisa __________________________________________________________________ */
.resultado-busca {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border-top: 1px solid #ccc;
  z-index: 2;
  display: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.resultado-busca-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.resultado-busca-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultado-busca-container a {
  color: var(--tertiary-color);
  font-size: 16px;
}

.resultado-busca-container a span {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: transparent;
}

.item-busca {
  border: 1px solid rgb(182, 181, 181);
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.item-busca.destaque {
  border-color: #000;
}

/* usuario _________________________________________________________________________ */

.box-usuario {
  position: absolute;
  top: 60px;
  left: 66%;
  width: 220px;
  background-color: #ffffff;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
}

.btn-entrar {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: var(--tertiary-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.btn-entrar:hover {
  background-color: white;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.criar-conta {
  margin-top: 15px;
  text-align: center;
}

.criar-conta a {
  color: var(--tertiary-color);
  font-weight: bold;
}

.criar-conta a:hover {
  text-decoration: underline;
}

/* barra lateral favoritos  _____________________________________________________________ */
.favoritos {
  position: fixed;
  top: 0;
  right: -50%;
  width: 35%;
  height: 100%;
  background-color: var(--secundary-color);
  z-index: 2;
  transition: right 0.5s ease;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  overflow-y: auto;
}

.favoritos.active {
  right: 0;
}

#fundoEscuro2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.favoritos .topo {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  z-index: 3;
}

.favoritos .topo h2 {
  color: var(--tertiary-color);
  text-align: center;
}

#close-favoritos {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 40px;
  cursor: pointer;
  color: #000;
}

#close-favoritos:hover {
  color: var(--tertiary-color);
}

.lateral {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.produto-favorito {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: -130px;
}

.produto-favorito img {
  width: 90%;
  height: 350px;
  border-radius: 12px;
  display: block;
  position: relative;
  left: 5%;
  z-index: 4;
}

.produto-favorito .desfavoritar {
  position: absolute;
  bottom: 10px;
  height: 50px;
  top: 59%;
  right: 8%;
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  z-index: 5;
}

.produto-favorito .preco {
  position: absolute;
  left: 8%;
  top: 60%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  z-index: 5;
}

.cor-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 53%;
  z-index: 5;
}

.tamanho-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 48%;
  z-index: 5;
}

.quantidade-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 42%;
  z-index: 5;
}

.box-finalizar {
  position: fixed;
  width: 110%;
  height: 13%;
  top: 88%;
  margin-left: -20px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

#btn-finalizar {
  width: 15%;
  height: 40%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  left: 16%;
  top: 27%;
}

#btn-finalizar:hover {
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
}

/* home page ___________________________________________________________________________ */
.home-page {
  position: relative;
  margin-top: 90px;
}

.banner {
  background: white;
  overflow: hidden;
  white-space: nowrap;
  padding: 13px 0;
}

.logo-banner {
  display: inline-block;
  animation: slide 75s linear infinite;
}

.logo-banner i {
  font-size: 30px;
  vertical-align: middle;
}

.logo-banner h1 {
  display: inline-block;
  font-size: 20px;
  margin: 0 30px;
  color: black;
  font-weight: bold;
}

.bxs-truck {
  font-size: 20px;
}

.banner:hover .logo-banner {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home-imagens {
  position: relative;
  top: 50px;
  left: 20%;
}

/* pagina 2 __________________________________________________________________ */
.pagina2 {
  position: relative;
  margin-top: 120px;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.titulo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.barra {
  width: 30px;
  height: 8vh;
  background-color: var(--tertiary-color);
  border-radius: 20px;
}

.texto-titulo {
  font-size: 40px;
  font-weight: bold;
  color: var(--tertiary-color);
  white-space: nowrap;
  text-shadow: 0 0 12px;
}

.produto-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
}

.titulo {
  position: absolute;
  top: 1%;
}

.produto-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90px;
}

.produto {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 600%;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin-top: 120px;
}

.produto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.nome-produto {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: var(--tertiary-color);
  white-space: nowrap;
  margin-left: 20px;
}

.preco-produto {
  font-weight: bold;
  color: black;
  font-size: 30px;
  white-space: nowrap;
  margin-left: 20px;
}

.saiba-mais {
  position: absolute;
  left: 70%;
  top: 93%;
}

.saiba-mais a {
  color: var(--tertiary-color);
  font-size: 20px;
}

.saiba-mais a:hover {
  color: black;
  transition: 0.2s;
}

.coracao-responsivo {
  position: absolute;
  top: 74%;
  color: red;
  right: 2%;
  z-index: 1;
  border-radius: 50%;
  padding: 5px;
  display: none;
  font-size: 35px;
}

/* hover dentro dos produtos ___________________________________________________________ */

.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  display: block;
}

.hover-box {
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 32%;
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.6s ease;
  border-radius: 30px;
}

.produto:hover .hover-box {
  opacity: 1;
}

.hover-box h1 {
  color: var(--tertiary-color);
  position: absolute;
  left: 10%;
  margin-bottom: 190px;
  font-size: 30px;
}

.cores {
  margin-bottom: 15px;
  align-self: flex-start;
  position: absolute;
  left: 40%;
  top: 32%;
}

.cores label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.opcoes-cor {
  display: flex;
  gap: 10px;
}

.btn-cor {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--tertiary-color);
  cursor: pointer;
}

.btn-cor.selecionado {
  border: 3px solid black;
}

.btn-cor.azul {
  background-color: #4a90e2;
}
.btn-cor.vermelho {
  background-color: red;
}
.btn-cor.dourado {
  background-color: rgb(243, 187, 32);
}
.btn-cor.rosa {
  background-color: #fadadd;
}
.btn-cor.preto-roxo {
  background: linear-gradient(to right, #5a2a7a 50%, #000000 50%);
}
.btn-cor.amarelo {
  background-color: rgb(251, 255, 0);
}
.btn-cor.verde-roxo {
  background: linear-gradient(to right, #b0e6c8 50%, #7c4d9e 50%);
}
.btn-cor.roxo-rosa {
  background: linear-gradient(to right, #e973df 50%, #4b0082 50%);
}
.btn-cor.azul-vermelho {
  background: linear-gradient(to right, #1e90ff 50%, #ff2d55 50%);
}
.btn-cor.azul-rosa {
  background: linear-gradient(to right, #40e0d0 50%, #ff69b4 50%);
}
.btn-cor.roxo-roxo {
  background: linear-gradient(to right, #8000a0 50%, #a64ca6 50%);
}
.btn-cor.roxo-verde {
  background: linear-gradient(to right, #800080 50%, #10aaaa 50%);
}

.quantidade {
  margin-bottom: 15px;
  margin-left: 15px;
  align-self: flex-start;
}

.quantidade label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.controle-quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-quantidade {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  cursor: pointer;
}

.valor-quantidade {
  font-size: 16px;
  font-weight: bold;
}

.estrelas {
  font-size: 21px;
  color: gold;
  white-space: nowrap;
  align-self: flex-start;
  margin-bottom: -40px;
}

.coracao {
  display: flex;
  gap: 6px;
}

.coracao li i {
  font-size: 40px;
  color: var(--tertiary-color);
  cursor: pointer;
}

.btn-comprar {
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding: 15px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.btn-comprar:hover {
  background-color: var(--main-color);
  color: var(--tertiary-color);
}

.favorito i {
  transition: color 0.3s ease;
}

.opcoes-tamanho {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  align-self: normal;
}

.btn-tamanho {
  padding: 8px 20px;
  border: none;
  background-color: #eee;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--tertiary-color);
}

.btn-tamanho.selecionado {
  border: 2px solid #000;
}

.btn-tamanho:hover {
  background-color: var(--tertiary-color);
}

/* terceira pagina ___________________________________________________________________ */
.terceiro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  position: relative;
}

.titulo {
  position: absolute;
  top: 1%;
  left: 2%;
}

.market-titulo {
  font-size: 40px;
  font-weight: bold;
  color: var(--tertiary-color);
  white-space: nowrap;
  text-shadow: 0 0 12px;
}

.container-wrapper {
  overflow-x: auto;
  width: 80vw;
  scrollbar-width: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: max-content;
  padding-left: 10px;
  margin-bottom: 40px;
}

.market {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  margin-top: 200px;
}

.market img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 10px;
}

.market h2 {
  position: absolute;
  color: var(--tertiary-color);
  top: 80%;
  left: 10%;
}

.market p {
  position: absolute;
  top: 90%;
  left: 10%;
  color: #000;
  font-size: 23px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.arrow {
  background-color: #333;
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  margin-top: 120px;
}

.arrow:hover {
  background-color: var(--tertiary-color);
  transition: 0.3s;
}

/* quarta pagina ___________________________________________________________________ */

.quarta {
  position: relative;
  margin-top: 120px;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.titulo2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.barra2 {
  width: 30px;
  height: 8vh;
  background-color: var(--tertiary-color);
  border-radius: 20px;
}

/* quinto contato _________________________________________________________________ */
.contato-container {
  height: 100vh;
  width: 90%;
  margin-left: 90px;
  background-color: rgba(15, 190, 53, 0.473);
  position: relative;
  margin-top: 150px;
  border-radius: 50px;
}

.contato {
  text-align: center;
  width: 410px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px 40px;
  position: absolute;
  left: 38%;
  top: 20%;
}

.contato h1 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
}

.whatsapp-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #25d366;
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

/* sexta pagina _____________________________________________________________________ */

.sobre-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.sobre {
  display: flex;
  width: 100%;
}

.cena-3d {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  top: 20%;
}

.foto-3d-interativa {
  width: auto;
  height: auto;
  border: 5px solid #ff69b4;
  border-radius: 200px;
  object-fit: cover;
  image-rendering: crisp-edges;
  box-shadow: 0 0 25px #ff69b4;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
}

.foto-3d-interativa {
  width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
}

.sobre-conteudo {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 28%;
}

.nome-sobre {
  font-size: 40px;
  font-weight: bold;
}

.sobre-contatos ul {
  display: flex;
  gap: 10px;
}

.garantia {
  font-size: 20px;
  max-width: 600px;
}

.data {
  font-size: 20px;
  max-width: 500px;
}

.sobre-contatos {
  font-size: 20px;
}
.sobre-contatos a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

/* rodapé __________________________________________________________________________ */

footer {
  height: 60%;
  padding: 200px 20px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  position: relative;
  height: 50vh;
}

.links-rapido {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 2%;
  margin-top: -150px;
}

.links-rapido a {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.links-rapido a:hover {
  background-color: white;
  color: black;
}

.footer-texto p {
  color: rgb(0, 0, 0);
  max-width: 1200px;
  margin-left: 350px;
  margin-top: 20px;
}

.footer-icone {
  font-size: 30px;
  position: absolute;
  left: 12%;
  width: 1.6%;
}

.footer-icone li {
  margin-top: 20px;
  cursor: pointer;
}

.footer-icone a {
  color: rgb(0, 0, 0);
}

.footer-icone li:hover {
  transform: scale(1.2);
}

.bxl-facebook-circle:hover {
  color: #1877f2;
}

.bxl-instagram-alt:hover {
  color: #e1306c;
}

.bxl-tiktok:hover {
  color: #c71585;
}

.bxl-whatsapp:hover {
  color: #25d366;
}

.bxl-gmail:hover {
  color: #d93025;
}

.footer-texto hr {
  margin-left: 330px;
  margin-top: 10px;
}

.contribuicao {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 340px;
  max-width: 1200px;
  margin-top: -200px;
}

.contribuicao img {
  width: 10%;
  height: auto;
  margin-top: 10px;
}

.direitos {
  position: absolute;
  left: 28%;
  margin-top: -85px;
}

.shope img {
  width: 70px;
  height: auto;
  margin-left: -20px;
}

.mercado img {
  width: 90px;
  height: auto;
  margin-top: -25px;
  margin-left: -29px;
}

.bxs-chevron-right {
  color: #000;
  font-size: 35px;
}

@media screen and (max-width: 826px) {
  .menu ul,
  .fundoEscuro2 {
    display: none;
  }

  .hover-box {
    display: none !important;
  }

  .logo img {
    width: 20%;
    left: 35%;
    top: -1%;
  }

  .menu-icones ul {
    left: 68%;
    top: 18px;
  }

  .menu-responsivo {
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 7;
  }

  .menu-responsivo i {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
  }

  /* barra de pesquisa _______________________________________________________________________________ */
  .barra-pesquisa {
    width: 100%;
    height: 17%;
    border-radius: 5px;
    z-index: 8;
  }

  .barra-pesquisa input {
    width: 75%;
    height: 45%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .barra-pesquisa input::placeholder {
    color: var(--tertiary-color);
    padding-left: 0px;
  }

  .barra-pesquisa button {
    margin-left: -28px;
    font-size: 20px;
    transform: translateY(10%);
  }

  .fechar-pesquisa {
    top: 10px;
  }

  #fundoEscuro {
    top: 75px;
    left: 0;
    z-index: 2;
  }

  /* produtos pesquisa __________________________________________________________________ */
  .resultado-busca {
    left: 48%;
    width: 90%;
    z-index: 3;
  }

  /* usuario _________________________________________________________________________ */
  .box-usuario {
    top: 60px;
    left: 58%;
    width: 150px;
    height: 130px;
  }

  .criar-conta {
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
  }

  /* barra lateral favoritos  _____________________________________________________________ */
  .favoritos {
    right: -110%;
    width: 100%;
    height: 100%;
    z-index: 8;
  }

  #close-favoritos {
    color: var(--tertiary-color);
  }

  .produto-favorito {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: -130px;
  }

  .produto-favorito img {
    width: 90%;
    height: 350px;
    border-radius: 12px;
    display: block;
    position: relative;
    left: 5%;
    z-index: 4;
  }

  .produto-favorito .desfavoritar {
    position: absolute;
    bottom: 10px;
    height: 50px;
    top: 59%;
    right: 8%;
    font-size: 40px;
    color: #000000;
    cursor: pointer;
    z-index: 5;
  }

  .produto-favorito .preco {
    position: absolute;
    left: 8%;
    top: 60%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 5;
  }

  .cor-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 53%;
    z-index: 5;
  }

  .tamanho-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 48%;
    z-index: 5;
  }

  .quantidade-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 42%;
    z-index: 5;
  }

  .box-finalizar {
    position: fixed;
    width: 100%;
    top: 88%;
    z-index: 6;
  }

  .total {
    margin-top: 32px;
  }

  #btn-finalizar {
    width: 40%;
    height: 40%;
    left: 55%;
  }

  /* pagina 2 __________________________________________________________________ */

  .pagina2 {
    padding: 20px 10px;
    min-height: 187vh;
  }

  .titulo {
    gap: 10px;
  }

  .barra {
    width: 20px;
    height: 7vh;
  }

  .texto-titulo {
    font-size: 25px;
  }

  .produto-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: -2px;
    gap: 20px;
  }

  .produto-wrapper {
    width: 100%;
    max-width: 30px;
  }

  .produto {
    padding: 10px;
    width: 600%;
    height: 200px;
    margin-top: 70px;
  }

  .nome-produto {
    margin-left: 5px;
    font-size: 20px;
  }

  .quebra-mobile {
    display: block;
  }

  .preco-produto {
    font-size: 25px;
    margin-left: 5px;
  }

  .saiba-mais {
    left: 5%;
    top: 95%;
  }

  .coracao-responsivo {
    display: block;
  }

  /* terceiro __________________________________________________________________________ */
  .terceiro {
    gap: 10px;
    margin-top: 100px;
  }

  .market-titulo {
    font-size: 25px;
  }

  .market {
    width: 200px;
    height: 220px;
    margin-top: 100px;
  }

  .market img {
    width: 180%;
    height: 100px;
    margin-bottom: 50px;
    margin-left: -40px;
  }

  .market h2 {
    font-size: 21px;
    top: 71%;
  }

  .market p {
    top: 83%;
    left: 10%;
    font-size: 22px;
  }

  .arrow {
    margin-top: 50px;
    font-size: 25px;
    padding: 8px 10px;
  }

  /* quatrto _____________________________ */

  .quarta {
    padding: 110px 20px;
  }

  /* quinto contato _________________________________________________________________ */
  .contato-container {
    height: 71vh;
    width: 90%;
    margin-left: 18px;
    margin-top: 100px;
  }

  .contato {
    width: 330px;
    left: 4%;
    top: 5%;
  }

  /* sexta pagina _____________________________________________________________________ */
  .sobre-container {
    flex-direction: column;
    margin-top: 100px;
    height: auto;
    background-color: #000;
    padding-bottom: 10px;
  }

  .video-topo video {
    width: 100%;
    height: 250px;
    max-height: 300px;
  }

  .sobre {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .cena-3d {
    position: static;
    margin-bottom: 10px;
    margin-top: -100px;
  }

  .foto-3d-interativa {
    width: 200px;
    height: auto;
    border-width: 3px;
    border-radius: 100px;
  }

  .sobre-conteudo {
    position: static;
    left: auto;
    top: auto;
    gap: 10px;
  }

  .nome-sobre {
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  .garantia,
  .data,
  .sobre-contatos {
    font-size: 16px;
    max-width: 100%;
    color: rgb(255, 255, 255);
  }

  .sobre-contatos ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* rodapé __________________________________________________________________________ */

  .footer-container {
    position: relative;
    height: 50vh;
    margin-top: -80px;
  }

  .links-rapido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    left: 0;
    margin-top: -170px;
    width: 100%;
    max-width: 400px;
  }

  .links-rapido a {
    padding: 5px 30px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 8px;
    text-align: center;
  }

  .footer-texto {
    margin-top: -50px;
  }

  .footer-texto p {
    color: rgb(0, 0, 0);
    max-width: 450px;
    margin-left: 50px;
    font-size: 12px;
  }

  .footer-icone {
    font-size: 25px;
    left: 1%;
    top: -10%;
  }

  .footer-texto hr {
    margin-left: 0px;
    margin-top: 10px;
  }

  .contribuicao {
    position: relative;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-size: 25px;
  }

  .contribuicao img {
    width: 20%;
    margin-left: -280px;
  }

  .direitos {
    position: absolute;
    left: 22%;
    margin-top: -50px;
  }

  .direitos i {
    font-size: 15px;
  }

  .shope img {
    width: 55px;
    height: auto;
    margin-left: -17px;
  }

  .shope1 img {
    width: 50px;
    height: auto;
    margin-left: -20px;
  }

  .mercado img {
    width: 70px;
    margin-left: -25px;
    margin-top: -20px;
  }

  .mercado1 img {
    width: 70px;
    margin-left: -15px;
    margin-top: 10px;
  }

  .bxl-facebook-circle {
    color: #1877f2;
  }

  .bxl-instagram-alt {
    color: #e1306c;
  }

  .bxl-tiktok {
    color: #c71585;
  }

  .bxl-whatsapp {
    color: #25d366;
  }

  .bxl-gmail {
    color: #d93025;
  }
}
