* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --main-color: white;
  --secundary-color: rgba(233, 233, 233, 0.308);
  --tertiary-color: #6fa9e4;
  --quartiary-color: #c0bbbb;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: auto;
  margin: 0;
  background: white;
}

header {
  padding: 28px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fafafae1;
  z-index: 1;
}

/* efeito universal ______________________________________________________________________________________ */
.efeito1,
.efeito2,
.efeito3,
.efeito4,
.efeito5 {
  opacity: 0;
}

@keyframes esquerda {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes descer {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.efeito1.visivel {
  animation: subir 0.8s ease-out forwards;
}

.efeito2.visivel {
  animation: subir 0.8s ease-out forwards;
  animation-delay: 0.4s;
}

.efeito3.visivel {
  animation: subir 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

.efeito4.visivel {
  animation: descer 0.9s ease-out forwards;
  animation-delay: 0.6s;
}

.efeito5.visivel {
  animation: esquerda 0.8s ease-out forwards;
}

.logo img {
  width: 6%;
  height: auto;
  position: absolute;
  left: 25%;
  top: -50%;
  z-index: 2;
}

.menu {
  position: relative;
  z-index: 1;
  display: flex;
}

.menu ul {
  position: absolute;
  display: flex;
  gap: 35px;
  left: 35%;
  top: -10px;
}

.menu li {
  color: rgb(104, 103, 103);
  font-size: 17px;
  cursor: pointer;
  z-index: 2;
}

.menu li:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  transition: 0.2s;
}

.menu-icones ul {
  position: absolute;
  left: 68%;
  top: 18px;
  display: flex;
  gap: 23px;
  z-index: 1;
  cursor: pointer;
}

.menu-icones ul {
  color: rgb(104, 103, 103);
  font-size: 18px;
}

.menu-icones li:hover {
  color: black;
  transform: scale(1.2);
  transition: 0.2s;
}

/* parte do hover do menu _____________________________________________________________________ */

.menu-overlay {
  position: absolute;
  top: 100%;
  width: 104%;
  height: 30vh;
  margin-left: -30px;
  margin-top: -50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: none;
}

header.overlay-ativo .menu li {
  color: #000000;
}

header.overlay-ativo .menu-icones li {
  color: #000000;
}

.menu-content {
  display: none;
  color: black;
  font-size: 18px;
  margin-top: 80px;
  width: 40%;
  padding-left: 50px;
  height: 80%;
  margin-left: 605px;
}

.menu-titulo {
  color: var(--tertiary-color);
  font-size: 20px;
}

.menu-content a {
  display: block;
  color: black;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.links-rapidos {
  position: absolute;
  left: 55%;
  top: 25%;
  display: block;
  margin-bottom: 50px;
}

.links-rapidos h2 {
  color: var(--tertiary-color);
  font-size: 20px;
}

.links-rapidos a {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

/* barra de pesquisa _______________________________________________________________________________ */
.barra-pesquisa {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 120%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 3;
}

.barra-pesquisa input {
  width: 50%;
  height: 70%;
  margin-left: 500px;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 12px;
  color: var(--tertiary-color);
  padding-left: 20px;
  font-size: 20px;
}

.barra-pesquisa input::placeholder {
  color: var(--tertiary-color);
  padding-left: 0px;
}

.barra-pesquisa button {
  background-color: transparent;
  margin-left: 8px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transform: translateY(20%);
}

.fechar-pesquisa {
  position: fixed;
  top: -3px;
  right: 8%;
}

.fechar-pesquisa i {
  color: var(--tertiary-color);
  font-size: 42px;
}

.fechar-pesquisa i:hover {
  color: black;
}

#fundoEscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 2;
}

/* produtos pesquisa __________________________________________________________________ */
.resultado-busca {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border-top: 1px solid #ccc;
  z-index: 2;
  display: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.resultado-busca-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.resultado-busca-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultado-busca-container a {
  color: var(--tertiary-color);
  font-size: 16px;
}

.resultado-busca-container a span {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: transparent;
}

.item-busca {
  border: 1px solid rgb(182, 181, 181);
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.item-busca.destaque {
  border-color: #000;
}

/* usuario _________________________________________________________________________ */

.box-usuario {
  position: absolute;
  top: 60px;
  left: 66%;
  width: 220px;
  background-color: #ffffff;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
}

.btn-entrar {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: var(--tertiary-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.btn-entrar:hover {
  background-color: white;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.criar-conta {
  margin-top: 15px;
  text-align: center;
}

.criar-conta a {
  color: var(--tertiary-color);
  font-weight: bold;
}

.criar-conta a:hover {
  text-decoration: underline;
}

/* barra lateral favoritos  _____________________________________________________________ */
.favoritos {
  position: fixed;
  top: 0;
  right: -50%;
  width: 35%;
  height: 100%;
  background-color: var(--quartiary-color);
  z-index: 2;
  transition: right 0.5s ease;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  overflow-y: auto;
}

.favoritos.active {
  right: 0;
}

#fundoEscuro2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.favoritos .topo {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  z-index: 3;
}

.favoritos .topo h2 {
  color: var(--tertiary-color);
  text-align: center;
}

#close-favoritos {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 40px;
  cursor: pointer;
  color: #000;
}

#close-favoritos:hover {
  color: var(--tertiary-color);
}

.lateral {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.produto-favorito {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: -130px;
}

.produto-favorito img {
  width: 90%;
  height: 350px;
  border-radius: 12px;
  display: block;
  position: relative;
  left: 5%;
  z-index: 4;
}

.produto-favorito .desfavoritar {
  position: absolute;
  bottom: 10px;
  height: 50px;
  top: 59%;
  right: 8%;
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  z-index: 5;
}

.produto-favorito .preco {
  position: absolute;
  left: 8%;
  top: 60%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  z-index: 5;
}

.cor-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 53%;
  z-index: 5;
}

.tamanho-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 48%;
  z-index: 5;
}

.quantidade-favorito {
  font-size: 20px;
  color: #ffffff;
  margin: 4px 0;
  position: absolute;
  left: 8%;
  top: 42%;
  z-index: 5;
}

.box-finalizar {
  position: fixed;
  width: 110%;
  height: 13%;
  top: 88%;
  margin-left: -20px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

#btn-finalizar {
  width: 15%;
  height: 40%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  left: 16%;
  top: 27%;
}

#btn-finalizar:hover {
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
}

/* home page _________________________________________________________________________________________ */
main {
  height: 330vh;
  margin-top: -42px;
}

.titulo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  margin-left: 150px;
}

.barra {
  width: 30px;
  height: 8vh;
  background-color: var(--tertiary-color);
  border-radius: 20px;
}

.texto-titulo {
  font-size: 45px;
  font-weight: bold;
  color: var(--tertiary-color);
  cursor: default;
}

.produto-container {
  width: 75%;
  height: 250vh;
  margin-top: 70px;
}

.produto {
  position: sticky;
  left: 10%;
  top: 5%;
  width: 90%;
  height: 800px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 30px;
  background-color: rgba(233, 233, 233, 0.308);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.galeria {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.img-produto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  border-radius: 12px;
  margin-top: -30px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-produto.ativa {
  opacity: 1;
  z-index: 1;
}

.indicadores {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 2;
  background-color: rgba(228, 228, 228, 0.795);
  padding: 20px 50px;
  border-radius: 12px;
}

.bolinha {
  width: 18px;
  height: 18px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}

.bolinha.ativa {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  transform: translateY(6px);
}

.detalhes-container {
  width: 20%;
  height: 240vh;
  position: absolute;
  left: 78%;
  top: 45%;
}

.detalhes {
  display: grid;
  gap: 30px;
}

.detalhes h1 {
  color: var(--tertiary-color);
  cursor: default;
}

.detalhes p {
  color: #000;
  gap: 20px;
}

/* cor */
.cor {
  margin-top: 350px;
}

.cor h1 {
  color: var(--tertiary-color);
}

.cores-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.botao-cor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.rosa {
  background-color: #4a90e2;
}

.botao-cor.selecionado {
  border: 3px solid #020202;
}

/* taamnho */
.tamanho {
  text-align: center;
  margin-top: 500px;
}

.tamanho h1 {
  color: var(--tertiary-color);
  margin-bottom: 30px;
}

.tamanhos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 auto;
}

.botao-tamanho {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: var(--secundary-color);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-tamanho.selecionado {
  background-color: var(--tertiary-color);
  color: rgb(255, 255, 255);
}

/* quantidade  */
.quantidade-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.quantidade h1 {
  color: var(--tertiary-color);
  margin-top: 400px;
}

.botao-quantidade,
#expandir-quantidade {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: var(--secundary-color);
  color: black;
  cursor: pointer;
}

.botao-quantidade.selecionado {
  background-color: var(--tertiary-color);
  color: rgb(255, 255, 255);
}

/* comprar */
.comprar {
  display: flex;
  margin-top: 100px;
}

.comprar h2 {
  position: absolute;
  top: 90%;
  font-size: 30px;
}

.comprar button {
  padding: 30px 60px;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 10px;
  color: #000;
  font-size: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.comprar button:hover {
  background-color: #000;
  color: white;
  border: 1px solid var(--tertiary-color);
  box-shadow: 0 0 50px var(--tertiary-color);
}

.descricao-comprar {
  width: 80%;
  height: 5%;
  background-color: rgba(110, 110, 110, 0.788);
  position: absolute;
  overflow: hidden;
  top: 97%;
  left: 10%;
  border-radius: 12px;
}

.descricao-comprar p {
  color: white;
  max-width: 400px;
  padding: 10px 10px 10px;
}

/* caixa de confimacao __________________________________________________________________________ */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 100px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
  width: 100%;
  height: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.popup-content p {
  font-size: 25px;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: space-around;
}

.botoes button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#btn-confirmar {
  background-color: #28a745;
  color: white;
}

#btn-confirmar:hover {
  background-color: #04741c;
}

#btn-cancelar {
  background-color: #dc3545;
  color: white;
}

#btn-cancelar:hover {
  background-color: #3d0006;
}

/* segunda pagina __________________________________________________________________ */
.segunda {
  position: relative;
  height: 70vh;
  background-color: rgba(233, 232, 232, 0.363);
  margin-top: -700px;
}

.barra2 {
  width: 30px;
  height: 8vh;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  margin-top: 70px;
}

.segundo-titulo {
  font-size: 45px;
  font-weight: bold;
  color: var(--tertiary-color);
  cursor: default;
  margin-top: 70px;
}

.container-opcoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}

.box {
  width: 20%;
  height: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
}

.box h1 {
  color: var(--tertiary-color);
  font-size: 35px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.box img {
  width: 30%;
  height: auto;
  position: absolute;
  left: 32%;
  top: 15%;
}

.info-pagamento {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  position: absolute;
  top: 48%;
  left: 2%;
}

.info-pagamento strong {
  color: #28a745;
}

.info-frete {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  line-height: 1.6;
  position: absolute;
  top: 55%;
  left: 2%;
}

.info-frete strong {
  color: #ff6600;
}

/* calcular frete __________________________________________________________ */

.box2 {
  width: 30%;
  height: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
}

.box2 img {
  width: 10%;
  height: auto;
}

.box-calculo-frete {
  background-color: #f9f9f9;
}

.form-frete {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.form-frete input {
  padding: 8px;
  border: 1px solid var(--tertiary-color);
  border-radius: 6px;
}

.form-frete button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-frete button:hover {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
}

.resultado-frete {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* rodapé __________________________________________________________________________ */

footer {
  height: 60%;
  padding: 200px 20px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  position: relative;
  height: 50vh;
}

.links-rapido {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 2%;
  margin-top: -150px;
}

.links-rapido a {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.links-rapido a:hover {
  background-color: white;
  color: black;
}

.footer-texto p {
  color: rgb(0, 0, 0);
  max-width: 1200px;
  margin-left: 350px;
  margin-top: 20px;
}

.footer-icone {
  font-size: 30px;
  position: absolute;
  left: 12%;
  width: 1.6%;
}

.footer-icone li {
  margin-top: 20px;
  cursor: pointer;
}

.footer-icone a {
  color: rgb(0, 0, 0);
}

.footer-icone li:hover {
  transform: scale(1.2);
}

.bxl-facebook-circle:hover {
  color: #1877f2;
}

.bxl-instagram-alt:hover {
  color: #e1306c;
}

.bxl-tiktok:hover {
  color: #c71585;
}

.bxl-whatsapp:hover {
  color: #25d366;
}

.bxl-gmail:hover {
  color: #d93025;
}

.footer-texto hr {
  margin-left: 330px;
  margin-top: 10px;
}

.contribuicao {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 340px;
  max-width: 1200px;
  margin-top: -200px;
}

.contribuicao img {
  width: 7%;
  height: auto;
  margin-top: 10px;
}

.direitos {
  position: absolute;
  left: 24%;
  margin-top: -65px;
}

.direitos i {
  color: #777;
  font-size: 20px;
}

.shope img {
  width: 70px;
  height: auto;
  margin-left: -20px;
}

.mercado img {
  width: 90px;
  height: auto;
  margin-top: -25px;
  margin-left: -29px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #237dd6 0%, #001f3f 50%, #1e5fda 80%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 12px;
  border: 1px solid #166a91;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 826px) {
  .menu li {
    display: none;
  }

  .logo img {
    width: 20%;
    left: 35%;
    top: -12%;
  }

  .menu-icones ul {
    left: 68%;
    top: 18px;
  }

  .menu-responsivo {
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 7;
  }

  .menu-responsivo i {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
  }

  /* barra de pesquisa _______________________________________________________________________________ */
  .barra-pesquisa {
    width: 100%;
    height: 140%;
    border-radius: 5px;
    z-index: 8;
  }

  .barra-pesquisa input {
    width: 75%;
    height: 50%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .barra-pesquisa input::placeholder {
    color: var(--tertiary-color);
    padding-left: 0px;
  }

  .barra-pesquisa button {
    margin-left: -28px;
    font-size: 20px;
    transform: translateY(10%);
  }

  .fechar-pesquisa {
    top: 5px;
  }

  #fundoEscuro {
    top: 75px;
    left: 0;
    z-index: 2;
  }

  /* produtos pesquisa __________________________________________________________________ */
  .resultado-busca {
    left: 48%;
    width: 90%;
    z-index: 3;
  }

  /* usuario _________________________________________________________________________ */
  .box-usuario {
    top: 60px;
    left: 58%;
    width: 150px;
    height: 130px;
  }

  .criar-conta {
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
  }

  /* barra lateral favoritos  _____________________________________________________________ */
  .favoritos {
    right: -110%;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
  }

  #close-favoritos {
    color: var(--tertiary-color);
  }

  .produto-favorito {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: -130px;
  }

  .produto-favorito img {
    width: 90%;
    height: 350px;
    border-radius: 12px;
    display: block;
    position: relative;
    left: 5%;
    z-index: 5;
  }

  .produto-favorito .desfavoritar {
    position: absolute;
    bottom: 10px;
    height: 50px;
    top: 59%;
    right: 8%;
    font-size: 40px;
    color: #000000;
    cursor: pointer;
    z-index: 5;
  }

  .produto-favorito .preco {
    position: absolute;
    left: 8%;
    top: 60%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 5;
  }

  .cor-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 53%;
    z-index: 5;
  }

  .tamanho-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 48%;
    z-index: 5;
  }

  .quantidade-favorito {
    font-size: 20px;
    color: #ffffff;
    margin: 4px 0;
    position: absolute;
    left: 8%;
    top: 42%;
    z-index: 5;
  }

  .box-finalizar {
    position: fixed;
    width: 100%;
    top: 88%;
    z-index: 6;
  }

  .total {
    margin-top: 32px;
  }

  #btn-finalizar {
    width: 40%;
    height: 40%;
    left: 55%;
  }

  /* home page _________________________________________________________________________________________ */
  main {
    height: 330vh;
    margin-top: -120px;
  }

  .titulo {
    margin-left: 10px;
  }

  .barra {
    width: 20px;
    height: 7vh;
  }

  .texto-titulo {
    font-size: 25px;
  }

  .produto-container {
    width: 75%;
    height: 250vh;
    margin-top: 70px;
  }

  .produto {
    top: 25%;
    left: 0%;
    width: 100%;
    height: 400px;
    padding: 15px;
    position: absolute;
    z-index: 0;
  }

  .img-produto {
    height: 110%;
  }

  .indicadores {
    padding: 10px 30px;
  }

  .detalhes-container {
    width: 90%;
    height: 240vh;
    left: 5%;
    top: 90%;
  }

  .detalhes {
    gap: 20px;
  }

  .cor {
    margin-top: 100px;
  }

  /* taamnho */
  .tamanho {
    margin-top: 100px;
  }

  .comprar h2 {
    position: absolute;
    top: 60%;
    font-size: 30px;
  }

  .quantidade h1 {
    margin-top: 100px;
  }

  .descricao-comprar {
    width: 90%;
    height: 6.5%;
    top: 73%;
    left: 1%;
  }

  /* segunda pagina __________________________________________________________________ */
  .segunda {
    height: 110vh;
    margin-top: -700px;
  }

  .segundo-titulo {
    font-size: 25px;
  }

  .container-opcoes {
    flex-direction: column;
    align-items: center;
  }

  .box,
  .box2 {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    position: static;
  }

  .box h1,
  .box img,
  .info-pagamento,
  .info-frete {
    position: static;
    margin: 10px 0;
  }

  .info-pagamento,
  .info-frete {
    text-align: left;
    padding: 0 10px;
  }

  .form-frete {
    width: 100%;
    padding: 0 10px;
  }

  .form-frete input,
  .form-frete button {
    width: 100%;
  }

  /* rodapé __________________________________________________________________________ */
  .footer-container {
    position: relative;
    height: 50vh;
    margin-top: 500px;
  }

  .links-rapido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    left: 0;
    margin-top: -170px;
    width: 100%;
    max-width: 400px;
  }

  .links-rapido a {
    padding: 5px 30px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 8px;
    text-align: center;
  }

  .footer-texto {
    margin-top: -50px;
  }

  .footer-texto p {
    max-width: 450px;
    margin-left: 50px;
    font-size: 12px;
  }

  .footer-icone {
    font-size: 25px;
    left: 1%;
    top: -10%;
  }

  .footer-texto hr {
    margin-left: 0px;
    margin-top: 10px;
  }

  .contribuicao {
    position: relative;
    top: 280px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-size: 25px;
  }

  .contribuicao img {
    width: 20%;
    margin-left: -280px;
  }

  .direitos {
    position: absolute;
    left: 22%;
    margin-top: -50px;
  }

  .direitos i {
    font-size: 15px;
  }

  .shope img {
    width: 55px;
    height: auto;
    margin-left: -17px;
  }

  .shope1 img {
    width: 50px;
    height: auto;
    margin-left: -20px;
  }

  .mercado img {
    width: 70px;
    margin-left: -25px;
    margin-top: -20px;
  }

  .mercado1 img {
    width: 70px;
    margin-left: -15px;
    margin-top: 10px;
  }

  .bxl-facebook-circle {
    color: #1877f2;
  }

  .bxl-instagram-alt {
    color: #e1306c;
  }

  .bxl-tiktok {
    color: #c71585;
  }

  .bxl-whatsapp {
    color: #25d366;
  }

  .bxl-gmail {
    color: #d93025;
  }

  /* caixa de confimacao __________________________________________________________________________ */
  .popup-content {
    width: 90%;
    height: 50%;
  }

  .popup-content p {
    margin-bottom: 10px;
    margin-top: -90px;
  }

  .botoes {
    margin-left: -35px;
    gap: 10px;
  }

  .botoes button {
    padding: 7px 20px;
  }
}
